
/*.download_ {
    margin-bottom: 25px;
}
.download_1 {
    background-color: #F9030A;
    display: block;
}
.download_2 {
    background-color: #2FA990;
    display: block;
}
.download_3 {
    background-color: #FD1D54;
    display: block;
}
.download_4 {
    background-color: #075798;
    display: block;
}
.download_5 {
    background-color: #EAA000;
    display: block;
}
.download_6 {
    background-color: #1C98FB;
    display: block;
}
.download_7 {
    background-color: #F9030A;
    display: block;
}
.download_8 {
    background-color: #2FA990;
    display: block;
}
.download_9 {
    background-color: #FD1D54;
    display: block;
}
.download_10 {
    background-color: #075798;
    display: block;
}
.download_11 {
    background-color: #EAA000;
    display: block;
}
.download_12 {
    background-color: #1C98FB;
    display: block;
}
.download_13 {
    background-color: #F9030A;
    display: block;
}
.download_14 {
    background-color: #075798;
    display: block;
}
.download_15 {
    background-color: #FD1D54;
    display: block;
}
.download_16 {
    background-color: #EAA000;
    display: block;
}
.download_17 {
    background-color: #F9030A;
    display: block;
}
.download_18 {
    background-color: #1C98FB;
    display: block;
}
.download_19 {
    background-color: #F9030A;
    display: block;
}
.download_20 {
    background-color: #2FA990;
    display: block;
}*/
