		/*body{
			background-color:white;
		}
	 
		#overlay{
			position: absolute; 
			top: 0;
			bottom:0;
			right:0;
			left:0;
			text-align: center;
			background-color: rgba(0,0,0, 0.2);
			width: 100%;
			height:100%;
			z-index: 99;
		}*/






		/*.about_overlay{
			position: absolute; 
			top:0px;
			bottom:0;
			right:0;
			left:0;
			text-align: center;
			background-color: rgba(0,0,0, 0.46);
			width: 100%;
			height:400px;
			z-index: 99;
		}

		#meet_the_team{
			text-align: center;
		}

		.about_section{
			background-image: url("head_files/images/about_us.jpg");
			background-position:center;
			height:400px;
		}

		  .careers_overlay{
			position: absolute;
			top:90px;
			bottom:0;
			right:0;
			left:0;
			text-align: center;
			background-color: rgba(0,0,0, 0.46);
			width: 100%;
			height:400px;
			z-index: 2000;
		}

		.about_section h1{
			color: white;
			text-transform: uppercase;
			letter-spacing:.1em;
			font-size: 3.9em;
			font-family: 'AvenirNext';
			font-weight:normal;
		}

		.about_section h2{
			color: white;
			text-align: center;
			font-family: 'AvenirNext';
			font-size: 22px;
			font-weight: normal;
		}

		.about_section_details{
			z-index:4000;
			position: ABSOLUTE;
			RIGHT: 0;
			LEFT: 0;
		}

		.about_our_story{
			background-color:#fff;
			padding:20px
		}

		.story_h2{
			color: black;
			text-align: center;
			font-family: 'AvenirNext';
			font-weight: 500;
			font-size: 350%;
			margin-bottom: 7px;
			margin-top: 0px;
		}

		.about_feedback{
			text-align:center;
			font-family: 'AvenirNext';
			font-weight: 500;
			font-size: 266%;
			margin-bottom: 25px;
			color:#565c68;
		}

		.about_story{
			float: right;
			margin: 0px 0 8px 15px;
			border-radius: 6px;
		}

		.tabs_li a:hover{
			color:#2CC185;
		}

		.tabs_li a{
			color: rgb(102, 151, 185);
		}

		

		.left h3{
			text-align: left;
		}

		.right{
			display:inline-block;
			width:75%;
			float:right;
		}

		.right h3, h4{
			margin-top:0;
			margin-bottom:0;
		}

		.feature-3{
			border-bottom: 1px solid #ddd;
		}

		.right h3{
			text-align: left;
			font-size: 26px;
			color: #484848;
			font-weight: 600;
		}

		.right h4{
			text-align: left;
			font-size: 16px;
			color:rgb(87, 111, 158);
			margin-bottom: 10px;
		}

		.right h5{
			font-size:18px;
		}

		.about-features h5{
			color: #3F485A;
			text-align: left;
			line-height: 1.8em;
			font-size: 16px;
		}

		.about-features p{
			font-size:15px;
			text-align:justify;
			color:#696767;
		}*/

		









		/*.features-column{
			background: transparent;
			border: transparent;
			border-radius: 3px;
			text-align: left;
			
			height:200px;
			padding-right:15px;
			padding-left:15px;
			margin-bottom: 10px;
		}

		blockquote {
			background:url(bg-quote3a.png) top center no-repeat,url(bg-quote3b.png) bottom center no-repeat;
			color:rgba(62, 60, 60, 0.94);
			font-style: italic;
			margin: 30px;
			padding: 30px;
			text-align: center;
			line-height:2em;
		}

		.about_great_heading{
			font-weight: 600;
    		color: #484848;
			font-size: 250%;
			font-family: 'AvenirNext';
			margin: 0px 0 0px;
		
			padding: 25px;
		
		}*/
		
		
		
		
		
